*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Kotlin
*.class

# Android
/app/build
/app/release
*.apk
*.aab
*.ap_
*.dex

# Log
*.log

# Keystore
*.jks
*.keystore

# Claude Code
.claude/
